@import "../styles/base";
@import "../styles/button";
@import "../styles/card";
@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/responsive";
@import "../styles/navbar";
@import "../styles/footer";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
