@import "variables";

body {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: $noir;
  color: $blanc;
  font-family: $font-main;
  min-height: 90vh;
  width: 100%;
}

h1 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 2rem;
  text-align: center;
}

.img_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  margin-bottom: 2rem;
  filter: brightness(1.2);
}

.vache {
  width: 40%;
  margin-top: 2rem;
  filter: brightness(1.2);
}

.marmotte {
  width: 30%;
  margin-bottom: 2rem;
  filter: brightness(1.2);
}
