@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: $noir;
  color: $blanc;
  font-family: $font-main;
  height: 90vh;
  width: 100%;
}

h1 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
  text-align: center;
}

h2 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 2rem;
  text-align: center;
}

.img_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
  margin: 0;
}

.vache {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
}

.marmotte {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
}
