@import "variables";
@import "mixins";

.card {
  background: $blanc;
  border-radius: $radius;
  box-shadow: 6px 6px 0 $noir;
  padding: 2rem;
  margin: 3rem;
  gap: 1.5rem;
  width: 100%;
  max-width: 370px;
  position: relative;
  font-family: $font-main;
  color: $noir;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--white {
    background: $gris-perle;
    color: $noir;
    box-shadow: 8px 8px 0 $brun-boise;
    .card__badge {
      background: $brun-boise;
      color: $blanc;
    }
    .card__content {
      color: $noir;
    }
  }

  &--brown {
    background: $brun-boise;
    color: $blanc;
    .card__badge {
      background: $gris-perle;
      color: $noir;
    }
    .card__content {
      color: $noir;
    }
  }

  &--black {
    background: $noir;
    color: $gris-perle;
    .card__badge {
      background: $brun-boise;
      color: $noir;
      font-weight: normal;
    }
    .card__row {
      p {
        color: $blanc;
      }
    }
    .card__stars {
      color: $brun-boise;
    }
  }

  &__badge {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    background: $gris-perle;
    color: $noir;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 18px;
    padding: 0.4rem 2rem;
    box-shadow: 2px 2px 0 $gris-perle;
    text-align: center;
    min-width: 180px;
    z-index: 2;
  }

  &__content {
    margin-top: 1.8rem;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    color: $noir;
    .card__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: 400;
      strong {
        font-weight: 700;
      }
    }
    .card__notes {
      margin-top: 0.7rem;
      font-size: 1rem;
      font-style: $font-main;
    }
  }

  &__stars {
    margin: 1rem auto 0 auto;
    text-align: center;
    font-size: 1.5rem;
    color: $brun-boise;
    letter-spacing: 0.2rem;
  }

  &__icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 1.1rem;
    right: 1.2rem;
    display: flex;
    gap: 0.8rem;
    font-size: 1.1rem;
    color: $noir;
    cursor: pointer;
    svg,
    i {
      vertical-align: start;
      color: $noir;
    }
  }
}
