@import "variables";
@import "base";
@import "responsive";

.footer {
  background: $noir;
  color: $blanc;
  width: 100vw;
  padding: 2rem;
  margin:0;
  font-family: $font-main;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 0;
    gap: 1rem;
  }
    &__socials {
      gap: 2rem;
      display: flex;
      flex-direction:row;
      align-items: center;
      justify-content: center;
      width: 40%;
      .footer__icon {
        color: $brun-boise;
        font-size: 1rem;
        transition: color 0.2s;
        &:hover {
          color: $blanc;
        }
      }
    }
    &__logo{
      width: 40%;
    }
        &__logo img {
      width: 3rem;
      filter: brightness(1.2);
    }
        &__infos {
      color: $gris-perle;
      font-size: 1rem;
      text-align: center;
      line-height: 1rem;
      width: 20%;
      .footer__mail {
        color: $blanc;
        text-decoration: none;
        margin-top: 0.5rem;
        font-weight: bold;
      }
    }
  }
