@import "variables";
@import "hoteBase";
@import "responsive";

.footer {
  background: $gris-perle;
  color: $brun-boise;
  width: 90vw;
  font-family: $font-main;
  box-shadow: 0 1px 0 $noir;
  border-radius: $radius;
  gap: 2rem;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  &__logo img {
    width: 120px;
    filter: brightness(1.2);
  }

  &__infos {
    color: $noir;
    font-size: 1rem;
    .footer__mail {
      color: $brun-boise;
      text-decoration: none;
      margin-top: 0.5rem;
      font-weight: 500;
    }
  }

  &__socials {
    gap: 1.2rem;
    display: flex;
    justify-content: center;
    .footer__icon {
      color: $noir;
      font-size: 1.5rem;
      transition: color 0.2s;
      &:hover {
        color: $brun-boise;
      }
    }
  }
}
