@mixin button-base {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  width: 340px;
  padding: 0 24px;
  border-radius: $radius;
  font-family: $font-main;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-shadow: $shadow;
}

@mixin mobile-xs {
  @media (max-width: #{$breakpoint-xs}) { @content; }
}
@mixin mobile-sm {
  @media (min-width: #{$breakpoint-sm}) { @content; }
}
@mixin tablet-desktop {
  @media (min-width: #{$breakpoint-md}) { @content; }
}
@mixin desktop-lg {
  @media (min-width: #{$breakpoint-lg}) { @content; }
}