@import "variables";
@import "base";
@import "responsive";

.navbar {
  position: fixed;
  top: 0;
  width: 90vw;
  height: 2rem;
  background: none;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba($gris-perle, 0.08);

  &__logo img {
    background: $noir;
    border-radius: 50%;
    width: 15%;
    display: block;
  }

  &__burger {
    background: $noir;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 3rem;
    outline: none;
    span {
      display: block;
      width: 28px;
      height: 4px;
      background: $blanc;
      border-radius: 2px;
      transition: all 0.2s;
    }
    &.open span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    &.open span:nth-child(2) {
      opacity: 0;
    }
    &.open span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
    &:hover span {
      background: $gris-perle;
    }
  }

  &__menu {
    position: fixed;
    top: 4rem;
    width: 90vw;
    background: $noir;
    box-shadow: 0 2px 8px rgba($gris-perle, 0.08);
    display: none;
    flex-direction: column;
    align-items: space-between;
    padding: 1.5rem 1.2rem;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        margin-bottom: 1.2rem;
        a {
          color: $blanc;
          font-family: $font-main;
          font-size: 1.2rem;
          text-decoration: none;
          &:hover {
            color: $gris-perle;
          }
        }
      }
    }
    &.open {
      display: flex;
    }
  }
}

body {
  padding-top: 2rem;
}
