@media (max-width: 500px) {
  .logo {
    width: 140px;
  }
  .vache {
    width: 80px;
  }
  .dashboard-container,
  form,
  .reservation-container,
  .calendar-container {
    max-width: 100%;
    gap: 1rem;
    padding: 1rem 0;
  }
  .card {
    margin-bottom: 1.2rem;
  }
  .calendar-month {
    min-width: 120px;
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
  }
  .calendar-date {
    height: 32px;
    font-size: 1rem;
  }
  .button-container {
    gap: 0.7rem;
  }

  .reservation-form {
    gap: 1rem;
    label {
      font-size: 1rem;
    }
    .number-person,
    .number-night {
      gap: 0.7rem;
      label {
        min-width: 110px;
        font-size: 0.95rem;
      }
      button {
        width: 28px;
        height: 28px;
        font-size: 1.1rem;
      }
      span {
        font-size: 1.1rem;
        min-width: 22px;
      }
    }
    .amount-final span {
      font-size: 1.2rem;
    }
  }
}
.navbar {
  height: 54px;
  padding: 0 0.7rem;
  &__logo img {
    height: 32px;
  }
  &__burger span {
    width: 22px;
    height: 3px;
  }
  &__menu {
    top: 54px;
    padding: 1rem 0.7rem;
  }
}
body {
  padding-top: 54px;
}
.footer {
  padding: 1.2rem 0 0.7rem 0;
  &__logo img {
    width: 80px;
  }
  &__socials .footer__icon {
    font-size: 1.2rem;
    gap: 0.7rem;
  }
  &__infos {
    font-size: 0.95rem;
  }
}
