$noir: #000000;
$blanc: #ffffff;
$gris-perle: #b7b7a4;
$brun-boise: #7a5c43;
$vert: #218c1e;
$rouge: #7c1818;
$gris: #858585;
$radius: 50px;
$shadow: 4px 4px 0 $gris-perle;
$font-main: "Montserrat", sans-serif;
$font-title: "Allura", cursive;


// ===== VARIABLES DES BREAKPOINTS =====
$breakpoint-xs: 370px;  // Très petit mobile
$breakpoint-sm: 500px;  // Mobile standard
$breakpoint-md: 900px;  // Tablette/Desktop