@import "../styles/hoteBase";
@import "../styles/hoteNavbar";
@import "../styles/hoteFooter";
@import "../styles/responsive";
@import "../styles/variables";
@import "../styles/button";
@import "../styles/card";
@import "../styles/mixins";

body {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background: $gris-perle !important;
  color: $noir;
  font-family: $font-main;
}

h1 {
  font-family: $font-title;
  color: $noir;
}
h2 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 2rem;
  text-align: center;
}

a {
  color: $brun-boise;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modification-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.slide-container {
  position: relative;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  width: 100vw;
  max-width: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gris-perle;
  border-radius: $radius;
  margin-bottom: 2rem;
}
.slide {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.slide.active {
  opacity: 1;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls {
  position: absoltute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  background-color: $brun-boise;
  color: $noir;
  cursor: pointer;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.8rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid $gris;
  font-family: $font-main;
  font-size: 1.1rem;
  color: $noir;
  margin-bottom: 0.5rem;
  &::placeholder {
    color: $noir;
    opacity: 0.8;
  }
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
  accent-color: $brun-boise;
}

input[type="date"] {
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-radius: $radius;
  font-family: $font-main;
  font-size: 1rem;
  background: $blanc;
  color: $noir;
}

.date-container,
.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  label {
    font-weight: bold;
    color: $blanc;
    margin-bottom: 0;
    font-size: 1rem;
  }
  textarea {
    width: 100%;
    background: transparent;
    border: 1px solid $gris;
    font-family: $font-main;
    font-size: 1rem;
    color: $noir;
    &::placeholder {
      color: $noir;
      opacity: 0.8;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: $brun-boise;
    color: $blanc;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $shadow;
    transition: background 0.2s;
    &:hover {
      background: $gris;
      color: $noir;
    }
  }
}

.rgpd-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  width: 90%;
  gap: 1rem;
  margin: 1rem 0;
  p {
    font-size: 0.8rem;
    text-align: left;
    color: $noir;
    margin: 0;
  }
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  gap: 1rem;
  label {
    min-width: 160px;
    font-weight: bold;
    color: $blanc;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .cocher-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    label {
      min-width: 160px;
      font-weight: bold;
      color: $noir;
      font-size: 1rem;
    }
    .number-person {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      label {
        font-size: 1rem;
        color: $blanc;
      }
    }
  }

  .info-box {
    padding: 1rem;
    border: 1px solid $brun-boise;
    border-radius: $radius;
    background: $blanc;
    margin: 1rem 0;

    p {
      font-size: 0.8rem;
      text-align: left;
      color: $noir;
    }
  }
}

.number-person,
.number-night {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.7rem;
  label {
    min-width: 160px;
    font-weight: bold;
    color: $blanc;
    margin-bottom: 0;
    font-size: 1rem;
  }
  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: $brun-boise;
    color: $blanc;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $shadow;
    transition: background 0.2s;
    &:hover {
      background: $gris;
      color: $noir;
    }
  }
  span {
    font-size: 1.3rem;
    font-weight: bold;
    color: $brun-boise;
    min-width: 28px;
    text-align: center;
    display: inline-block;
  }
}

.amount-final {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  label {
    font-weight: 600;
    color: $blanc;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  span {
    font-size: 2rem;
    font-weight: bold;
    color: $noir;
  }
}

.marmotte-icon {
  position: relative;
  width: 30%;
  top: 0;
  right: 0;
  filter: brightness(1.2);
}

.img_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50%;
  margin-bottom: 2rem;
  filter: brightness(1.2);
}

.vache {
  width: 40%;
  margin-top: 2rem;
  filter: brightness(1.2);
}

.marmotte {
  width: 30%;
  margin-bottom: 2rem;
  filter: brightness(1.2);
}

.montagne {
  width: 40%;
  margin-bottom: 1rem;
  filter: brightness(1.2);
}
