@use "../styles/variables" as *;
@use "../styles/hoteBase" as *;
@use "../styles/mixins" as *;
@use "../styles/button" as *;
@use "../styles/card" as *;
@use "../styles/calendar" as *;
@use "../styles/hoteFooter" as *;
@use "../styles/hoteNavbar" as *;
@use "../styles/responsive" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $gris-perle !important;
  color: $noir;
  width: 100%;
}

h1 {
  font-family: $font-title;
  color: $noir;
  text-align: center;
  width: 100%;
}
h2 {
  font-family: $font-title;
  color: $brun-boise;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0;
  padding: 2rem;
}

.slide-container {
  position: relative;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gris-perle;
  border-radius: $radius;
  padding: 2rem;
}
.slide {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.slide.active {
  opacity: 1;
}
.slide img {
  object-fit: contain;
}
.controls {
  position: absoltute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  background-color: $brun-boise;
  color: $noir;
  cursor: pointer;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea {
  width: 100%;
  padding: 1rem;
  background: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gris;
  font-family: $font-main;
  font-size: 1.1rem;
  gap: 1rem;
  color: $noir;
  margin: 0;
  &::placeholder {
    color: $noir;
    opacity: 0.9;
  }
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius;
  accent-color: $brun-boise;
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  background: $brun-boise;
  border-radius: $radius;
  margin: 0;
  label {
    font-weight: bold;
    color: $blanc;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.rgpd-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
  p {
    font-size: 1rem;
    text-align: left;
    color: $noir;
    margin: 0;
  }
}

.date-container,
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 2rem;
  p {
    font-size: 1rem;
    text-align: center;
    color: $noir;
  }
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  label {
    font-weight: bold;
    color: $blanc;
    margin-bottom: 0;
    font-size: 1rem;
  }
  button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background: $brun-boise;
    color: $blanc;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    box-shadow: $shadow;
    transition: background 0.2s;
    &:hover {
      background: $gris;
      color: $noir;
    }
  }
  span {
    font-size: 1.3rem;
    font-weight: bold;
    color: $brun-boise;
    min-width: 2rem;
    text-align: center;
    display: inline-block;
  }
}

.amount-final {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  label {
    font-weight: 600;
    color: $blanc;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  span {
    font-size: 2rem;
    font-weight: bold;
    color: $noir;
  }
}

.marmotte-icon {
  position: relative;
  width: 20%;
  top: 0;
  right: 0;
  filter: brightness(1.2);
}

.img_bottom,
.logo img,
.logo,
.vache,
.marmotte,
.montagne {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
}
