@import "styles/variables";
@import "styles/mixins";
@import "styles/button";
@import "styles/base";
@import "styles/responsive";
@import "styles/navbar";
@import "styles/footer";

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
