@import "styles/variables";
@import "styles/mixins";
@import "styles/button";
@import "styles/base";
@import "styles/card";
@import "styles/responsive";
@import "styles/navbar";
@import "styles/footer";

.marmotte {
  display: block;
  margin: 2rem auto 0 auto;
  width: 120px;
  filter: brightness(1.2);
}
